.animateScroll {
  display: flex;
  width: max-content;               /* IMPORTANT */
  animation: scroll 30s linear infinite;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@media (max-width: 768px) {
  .animateScroll {
    animation-duration: 20s;
  }
}
